<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--如有不明白请联系joker.feng@outlook.com-->
  <!--引用配置说明，必填，必须放在webConfig文件的当前位置-->
  <configSections>
    <section name="SimpleLogger" type="SimpleLogger.Config.SectionLogger,SimpleLogger" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  

<!--整个SimpleLogger配置，=。Open（记录日记功能是否启用），必填，可选值（True和False）-->
  <SimpleLogger  Open="True">
    <!--本地储存。Open（本地储存否启用）必填，可选值（True和False）。FileExtension 保存文件的扩展名，选填（默认.log结尾）。FilePath 文件保存路径保存文件的扩展名，选填（默认项目运行的目录\log下） -->
    <LocalSave Open="True" FileExtension=".txt" FilePath="D:\"> </LocalSave>
    <!--数据库储存。Open（数据库储存启用）必填，可选值（True和False)。TableName 保存的表名称，选填（默认SimpleLogger，系统自动会创建表格）。ConnectString 数据库连接字符串 必填。-->
    <DataBaseSave Open="True" TableName="Logger" ConnectString="Data Source=192.168.0.2;Initial Catalog=SimpleLog;User=sa;pwd=123456">
    </DataBaseSave>
  </SimpleLogger>

</configuration>